.wrapper {

    width: 100%;

    .content {

        display: flex;
        background-color: #121315;

        .left {

            display: flex;

            font-family: Lato, serif;
            font-size: 30px;

            color: white;
            width: 100%;


            .blurb {

                width: 100%;
                display: flex;
                justify-content: center;
                text-align: left;

            }

        }

        .right {

            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: left;

            font-family: Roboto, serif;
            font-size: 25px;

            color: white;
            width: 100%;

            .title1 {

                margin-bottom: 50px;

                .p {

                    color: #E5E5E5;
                    font-size: 20px;
                    font-weight: lighter;
                    line-height: 25px;

                }

            }

            .title2 {

                .p {

                    color: #E5E5E5;
                    font-size: 20px;
                }

            }

        }

    }

}
