.wrapper {

    width: 100%;

    .content {

        display: flex;
        justify-content: center;
        background-color: #121315;
        padding: 15px;

        .left {

            display: flex;
            justify-content: center;

            font-family: Lato, serif;
            font-size: 30px;

            color: white;
            width: 50%;

            .blurb {

                text-align: left;

            }

        }

        .right {

            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: left;
            align-items: center;
            font-family: Roboto, serif;
            font-size: 30px;

            color: white;

            .title1 {

                margin-bottom: 50px;


                .support {

                    margin-bottom: 15px;

                }

                .p {

                    color: #E5E5E5;
                    font-size: 15px;
                    font-weight: lighter;
                    line-height: 25px;
                    width: 60%;

                }

            }

            .title2 {

                .connect {

                    margin-bottom: 15px;

                }

                .p {

                    color: #E5E5E5;
                    font-size: 15px;
                    font-weight: lighter;
                    line-height: 25px;
                    width: 60%;

                }

            }

        }

    }

}
