<div class="wrapper">

    <div class="content">

        <div class="left">

            <div class="blurb">
                What we do
            </div>

        </div>

        <div class="right">

            <div class="title1">

                Support

                <div class="p">
                    Creative content belongs here.
                    Build real connections with a huge, engaged audience.
                    We'll help you find a community around your passion.
                </div>

            </div>

            <div class="title2">

                Connect

                <div class="p">

                    Creative content belongs here.
                    Build real connections with a huge, engaged audience.
                    We'll help you find a community around your passion.

                </div>

            </div>


        </div>

    </div>

</div>
