.wrapper {

    width: 100%;
    background-color: #121315;

    .content {

        display: flex;
        color: #B7B7B7;

        .left {

            display: flex;
            flex-wrap: wrap;
            margin: 15px;

            .title {

                h1 {

                    font-family: Lato, serif;
                    font-size: 40px;

                    h1:first-letter {

                        color: #649E48;

                    }

                    span {


                        color: #649E48;

                    }

                    i {

                        color: #942CC5;

                    }


                }


            }

            .subtitle {

                font-family: Lato, serif;
                line-height: 15px;
                text-align: right;

            }

            .button {

                padding-top: 26px;
                display: flex;
                justify-content: flex-end;

                button {

                    font-family: Roboto, serif;
                    letter-spacing: .1px;

                    padding: 7px;
                    color: #E5E5E5;
                    background-color: #121315;
                    border: 1px solid #B7B7B7;
                    border-radius: 3px;
                    box-sizing: border-box;


                }

            }

        }

        .right {

            display: flex;
            justify-content: flex-end;
            width: 50%;
            margin: 15px;
            align-items: center;


        }
    }

}
