<div class="wrapper">

    <div class="content">

        <div class="left">

            <div class="title">

                <h1>
                    <span>streaming</span>
                    from a new <i>perspective</i>.
                </h1>

                <div class="subtitle">

                    Broadcast in high resolution in the best virtual space.<br>
                    The world is your stage. Share your story. The possibilities are limitless.

                </div>

                <div class="button">

                    <button>GET STARTED</button>

                </div>

            </div>

        </div>


        <div class="right">

            <div class="img">

                <img src="/src/assets/Vector.png" alt="stacked laptop">

            </div>

        </div>

    </div>

</div>
